body{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* Header Styling */

header{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 60px;
}

.header-logo{
    font-size: 24px;
    margin-right: auto;
    font-weight: bold;
}

.header-links{
    font-size: 18px;
    display: flex;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
    margin-left: 24px;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

/* Hero Section Styling*/

.hero-section{
    display: flex;
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 60px 60px;
    align-items: center;
    gap: 20px;
}

.hero-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

img{
    height: auto;
    max-width: 100%;
}

.img-container img{
    min-width: 300px;
}

.hero-info p{
    font-size: 18px;
    color:#E5E7EB;
}

button{
    color:#F9FAF8;
    background-color: #3882f6;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    max-width: 100px;
    font-weight: bold;
}

/*Info Section Styles*/

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
    padding: 48px 80px;
    gap: 32px;
}

.info-content{
    display: flex;
    gap: 32px;
}

h2{
    margin: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.info-section p{
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.info-example{
    display: flex;
    flex-direction: column;
}

.info-img-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    border-style: solid;
    border-color:#3882f6;
}